@model List<CW18_1.Models.Dtos.BorrowedBooksByStateDto>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>اسم استان</th>
            <th>اسامی کتابها</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StateName</td>
                <td>
                    <ul>
                        @foreach (var book in item.ListOfBookTitles)
                        {
                            <li>@book</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>